@model List<dynamic>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Action Type ID</th>
            <th>Action Type</th>
            <th>Frequency Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ActionTypeId</td>
                <td>@item.ActionType</td>
                <td>@item.ActionFrequencyCount</td>
            </tr>
        }
    </tbody>
</table>

