@model CategoryDto

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Create New Category</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Category Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="category_name" placeholder="Enter category name">
                    <span asp-validation-for="category_name" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}