@* Path: Views/ActionType/Index.cshtml *@
@model IEnumerable<KursovaHomeGarden.Models.ActionType>

@{
    ViewData["Title"] = "Action Types";
}

<h1>Action Types</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Type ID</th>
            <th>Type Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.action_type_id</th>
                <td>@item.type_name</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.action_type_id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.action_type_id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
