@model IEnumerable<KursovaHomeGarden.Models.Plant.Plant>

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @await Html.PartialAsync("_FilterForm", Model)
                </div>
            </div>
        </div>
    </div>

    <div class="row pb-3">
        @foreach (var plant in Model)
        {
            @await Html.PartialAsync("_PlantCard", plant)
        }
    </div>
</div>